body {
	background-color: #e55f00;
	font-size: 12px;
	color: #000000;
	font-family: 'Roboto', 'Roboto Mono', monospace;
	border: 0;
	margin: 0;
	line-height: 1
}
div {
	text-align: left
}
tooltip .message {
	position:fixed;
	top:0;
	left:0;
	text-align:left;
	background-color:#E5E5E5;
	color:#191919;
	visibility:hidden;
	z-index:1
}
tooltip:hover .message {
	visibility:visible
}
tooltip .message:hover {
	visibility:hidden
}
tooltip .hidden {
	display:none
}
tooltip .bottom {
	top:initial;
	bottom:0
}
.center {
	width: 100%;
	text-align: center
}
.tabs {
	width: 100%;
	overflow-x:auto
}
.tabs table {
	border-spacing:0px;
}
.tabs td {
	border-spacing:5px;
}
#starsRow {
	font-size: 36px;
	background-color: #e5a272;
	color: #191919
}
#sPSRow {
	background-color: #ffffff;
	color: #191919
}
#prestigePoints {
	border-spacing:0px;
	padding:0
}
#prestigePoints tr {
	padding:0
}
#prestigePoints td {
	max-width:100%;
	height:24px;
	padding:0;
	text-align:center
}
#neutronStars {
	background: #000000;
	color: #7200E5
}
#quarkStars {
	background: #4C0000;
	color: #7200E5;
}
.supernovaTab {
	width: 100%;
	text-align: center;
}
.hypernovaTab {
	width: 100%;
	text-align: center;
	background: rgba(76,0,0,0.9);
	color: #7200E5;
}
.exoticTab {
	width: 100%;
	text-align: center;
	background: rgba(114,0,229,0.9);
	color: #E539E5;
}
.quantumTab {
	width: 100%;
	text-align: center;
	background: rgba(0,0,153,0.9);
	color: #AC00E5;
}
.storyLocked {
	background-color: #727272;
}
.storyCompleted {
	background-color: #ffffff;
	transition-duration: 0.2s
}
.ach {
	background-color: #E50000;
	color: #191919
}
.achCompleted {
	background-color: #00E500;
	color: #191919;
	transition-duration: 0.2s
	}
button {
	background-color: #ffffff;
	font-family: 'Roboto', 'Roboto Mono', monospace;
	width: 96px;
	height: 36px;
	padding: 0;
	border: 0;
	transition-duration: 0.2s
}
button:hover {
	background-color: #BFBFBF
}
button:active {
	background-color: #727272
}
.longButton, .evenButton {
	width: 192px;
	height: 24px
}
.optionButton {
	width: 192px;
	height: 48px
}
.shopUnafford, .shopUnafford:hover {
	width: 192px;
	height: 24px;
	background-color: #727272
}
.prestigeButton {
	width: 192px;
	height: 48px;
	background-color: #0C0C0C;
	color: #E5E5E5
}
.prestigeButton:hover {
	background-color: #E5E5E5;
	color: #191919
}
.prestigeButton:active {
	background-color: #0C0C0C;
	color: #E5E5E5
}
.boughtUpgrade, .boughtUpgrade:hover, .boughtUpgrade:active {
	width: 192px;
	height: 24px;
	background-color: #00E500
}
.lockedUpgrade, .lockedUpgrade:hover, .lockedUpgrade:active {
	width: 192px;
	height: 24px;
	background-color: #E50000
}
.supernovaButton, .supernovaLockedTab, .supernovaLockedTab:hover, .supernovaLockedTab:active {
	width: 192px;
	height: 24px;
	background-color: #000000;
	color: #7200E5
}
#prestige3 {
	width: 360px;
	height: 72px;
	background-color: #E5E5E5;
	color: #728599;
	font-size: 48px
}
#prestige3bl, #prestigeAliens {
	background-color: #E5E5E5;
	color: #728599
}
.supernovaButton:hover, #prestige3:hover, #prestige3bl:hover, #prestigeAliens:hover {
	background-color: #7200E5;
	color: #000000
}
.supernovaButton:active, #prestige3:active, #prestige3bl:active, #prestigeAliens:active {
	background-color: #000000;
	color: #7200E5
}
.hypernovaButton {
	width: 192px;
	height: 24px;
	background-color: #4C0000;
	color: #7200E5
}
#prestige4 {
	width: 360px;
	height: 72px;
	background-color: #4C0000;
	color: #7200E5;
	font-size: 48px
}
.hypernovaButton {
	width: 192px;
	height: 24px;
	background-color: #4C0000;
	color: #7200E5
}
.hypernovaButton:hover, #prestige4:hover {
	background-color: #7200E5;
	color: #4C0000
}
.hypernovaButton:active, #prestige4:active {
	background-color: #4C0000;
	color: #7200E5
}
.perkButton {
	width: 192px;
	height: 36px;
}
.exoticButton {
	width: 192px;
	height: 24px;
	background-color: #7200E5;
	color: #E539E5
}
.exoticButton:hover {
	background-color: #E539E5;
	color: #7200E5
}
.exoticButton:active {
	background-color: #7200E5;
	color: #E539E5
}
.quantumButton {
	width: 192px;
	height: 24px;
	background-color: #000099;
	color: #AC00E5
}
.quantumButton:hover {
	background-color: #AC00E5;
	color: #000099
}
.quantumButton:active {
	background-color: #000099;
	color: #AC00E5
}
table {
	border-spacing:5px
}
td {
	padding:0
}
.supernovadiv {
	background-color:#000000;
	color:#7200E5
}